*{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    justify-content: center;
    font-size: 18px;   
    display: block;
    padding: 8px
}
.nav a{
    text-decoration: none;
    color: #483C32;
    background-color: #debd8f;
    border-radius: 16px;
    border: 1px solid #483C32
}

.nav a:hover{
    text-decoration: none;
    color: #d1a267;
    background-color: #483C32;
    border-radius: 16px;
    border: 1px solid #483C32
}
.titulo2{
    display: block;
    font-family: 'Secular One', sans-serif;
    margin: 20px 10px 10px 0px;
    font-size: 70px;
    width: 50% ;
    border-radius: 50px;    
    background-color: #debd8f;
    color: #483C32;   
}
.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.arriba{
    height: 20%;
    background-color: #d1a267;
}

.titulo{
    font-size: 50px;
    color: #483C32;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}

img{
    object-fit: cover;
    height: 50%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}
li{
    list-style: none;
}

.abajo{
    height: 40%;
    background-color: #d1a267;
}

.abajo div{
    border: 1px solid black;
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.nav{
    background-color: #a1651b;
}

.nosotros{
    background-color: #debd8f;
    height: 60%
}

.nosotros h1{
   justify-content: center;
   padding-top: 30px;
   padding-left: 35px;
}

.nosotros p {
    padding-left: 35px;
}

.nosotros h3{
    padding-left: 35px;
}

.historia{
    position: absolute;
}

p{
   font-size:  18px;
   padding-left: 20PX;
}

.contacto{
    padding: 30px;
    background-color: #d1a267;
    
}

.contacto h2{
    text-align: center;
}

.redes p{
    font-size: 40px;
}

.Whatsapp{
    width: 40px;
    height: 40px;
    
}

.Instagram{
    width: 40px;
    height: 40px;
    position: relative;
}



.grid-container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 70px 270px 70px 270px;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 50px;
    background-color: #d1a267;
    width:70%;
    margin: auto;
    justify-items: center
}
 
.img-producto{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid #483C32;
}

.producto{
    font-size: 30px;
    border: 0.2px solid #483C32;
    margin: auto;
    color: #483C32;
    border-radius: 6px;
    background-color: #debd8f;
    padding: 7PX;    
}

.producto:hover{
    background-color: #483C32;
    color: #debd8f;
}

.volver{
    display: inline-block;
    border: 1px solid black;
    margin: 80px;
    background-color: #d1a267;
}

.volver:hover{
    background-color: #483C32;
    color:#d1a267
}

h3{
    background-color: #debd8f;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10 20 10;
    border-radius: 20px;
    color: #483C32;
}

.fondo2{
    background-image: url("Imagenes/fondo.jpg");
}

.footer2{
    padding: 10px;
}

